<body>
  <div class="displayFlex">
    <button (click)="openModal()" class="addTask btnaddTask">Add Task</button>
    <button routerLink="/done-tasks" class="addTask closedTask">Closed Tasks</button>
  </div>
  <div class="stage-container">
    <div class="stage-box">
      <h4 class="stage-headers">Code Inception</h4>
      <div class="stage-body">
        <div *ngFor="let task of codeInception">
          <div class="card">
            <label><span class="id"> #{{task.id}}</span></label><br>
            <label><i class="fas fa-tasks fa-lg" style="color: blue;"></i><span class="name">{{ task.name }} </span></label><br>
            <p><i class="fas fa-user fa-lg" style="color: green;"></i> {{ task.assignee }}</p>
            <div class="btnMove">
              <div class="more-details" (click)="openDetailsModal(task)">
                <i class="fas fa-info-circle fa-lg pos"></i>
              </div> 
              
              <button (click)="moveTask(task)">
                <i class="fas fa-arrow-right fa-lg" ></i>
              </button>
            </div>
                    
          </div>
        </div>
      </div>
    </div>

    <div class="stage-box">
      <h4 class="stage-headers">Code Review after dev</h4>
      <div class="stage-body">
        <div *ngFor="let task of codeReviewDev">
          <div class="card">
            <label><span class="id"> #{{task.id}}</span></label><br>
            <label><i class="fas fa-tasks fa-lg" style="color: blue;"></i><span class="name">{{ task.name }} </span></label><br>
            <p><i class="fas fa-user fa-lg" style="color: green;"></i> {{ task.assignee }}</p>
            <div class="btnMove">
              <div class="more-details" (click)="openDetailsModal(task)">
                <i class="fas fa-info-circle fa-lg pos"></i>
              </div> 
              
              <button (click)="moveTask(task)">
                <i class="fas fa-arrow-right fa-lg" ></i>
              </button>
            </div>
                    
          </div>
        </div>
      </div>
    </div>

    <div class="stage-box">
      <h4 class="stage-headers">TCR Review</h4>
      <div class="stage-body">
        <div *ngFor="let task of trcReview">
          <div class="card">
            <label><span class="id"> #{{task.id}}</span></label><br>
            <label><i class="fas fa-tasks fa-lg" style="color: blue;"></i><span class="name">{{ task.name }} </span></label><br>
            <p><i class="fas fa-user fa-lg" style="color: green;"></i> {{ task.assignee }}</p>
            <div class="btnMove">
              <div class="more-details" (click)="openDetailsModal(task)">
                <i class="fas fa-info-circle fa-lg pos"></i>
              </div> 
              
              <button (click)="moveTask(task)">
                <i class="fas fa-arrow-right fa-lg" ></i>
              </button>
            </div>
                    
          </div>
        </div>
      </div>
    </div>

    <div class="stage-box">
      <h4 class="stage-headers">CCR</h4>
      <div class="stage-body">
        <div *ngFor="let task of ccr">
          <div class="card">
            <label><span class="id"> #{{task.id}}</span></label><br>
            <label><i class="fas fa-tasks fa-lg" style="color: blue;"></i><span class="name">{{ task.name }} </span></label><br>
            <p><i class="fas fa-user fa-lg" style="color: green;"></i> {{ task.assignee }}</p>
            <div class="btnMove">
              <div class="more-details" (click)="openDetailsModal(task)">
                <i class="fas fa-info-circle fa-lg pos"></i>
              </div> 
              
              <button (click)="moveTask(task)">
                <i class="fas fa-arrow-right fa-lg" ></i>
              </button>
            </div>
                    
          </div>
        </div>
      </div>
    </div>

    <div class="stage-box">
      <h4 class="stage-headers">Code Deployment</h4>
      <div class="stage-body">
        <div *ngFor="let task of codeDeployment">
          <div class="card">
            <label><span class="id"> #{{task.id}}</span></label><br>
            <label><i class="fas fa-tasks fa-lg" style="color: blue;"></i><span class="name">{{ task.name }} </span></label><br>
            <p><i class="fas fa-user fa-lg" style="color: green;"></i> {{ task.assignee }}</p>
            <div class="btnMove">
              <div class="more-details" (click)="openDetailsModal(task)">
                <i class="fas fa-info-circle fa-lg pos"></i>
              </div> 
              
              <button (click)="moveTask(task)">
                <i class="fas fa-arrow-right fa-lg" ></i>
              </button>
            </div>
                    
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <app-add-task-model
  *ngIf="modalOpen"
  (taskSubmitted)="addTask($event)"
  (modalClosed)="closeModal()"
></app-add-task-model>
</body> 


